#delivery .card_delivery {
  margin-top: 100px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#delivery .card_delivery .sub_judul {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#delivery .card_delivery .sub_judul p {
  color: var(--000000-100, #000);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-left: 10px;
}

#delivery .card_delivery .input_location input {
  border-radius: 50px;
  border: 1px solid #7b7b7b;
  background: var(--Color, #fff);
  font-size: 12px;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#delivery .card_delivery p:nth-child(1) {
  color: var(--000000-100, #000);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}

#delivery .card_delivery .input_location .col-7 p:nth-child(2) {
  color: #7b7b7b;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#delivery .card_delivery .catatan_pengantar textarea {
  border-radius: 10px;
  border: 1px solid #7b7b7b;
  background: var(--Color, #fff);
  font-size: 13px;
  height: 100px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  align-items: start;
}

/* delivery */
#delivery .card_order {
  margin-top: 30px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#delivery .card_order .sub_judul {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#delivery .card_order .sub_judul p {
  color: var(--000000-100, #000);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-left: 10px;
}

#delivery .card_order .card_addProduct {
  border-radius: 30px;
  border: 1px solid #7b7b7b5e;
  background: var(--Color, #fff);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

#delivery .card_order .card_addProduct p:nth-child(1) {
  color: var(--000000-100, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#delivery .card_order .card_addProduct p:nth-child(2) {
  color: #7b7b7b;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

tbody tr th {
  color: #198f1e !important;
  font-family: Poppins;
  /* font-size: 18px; */
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* order setting */
#delivery .card_settingOrder {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#delivery .card_settingOrder .sub_judul {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#delivery .card_settingOrder .sub_judul p {
  color: var(--000000-100, #000);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-left: 10px;
}

#delivery .card_settingOrder .card_logo img {
  border-radius: 30px;
  background: rgba(25, 143, 30, 0.3);
  padding: 15px;
}

#delivery .card_settingOrder .card_logo p {
  color: var(--000000-100, #000);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 576px) {
  #delivery .card_delivery {
    padding-left: 10px;
    padding-right: 10px;
  }
  #delivery .card_order {
    padding-left: 10px;
    padding-right: 10px;
  }
  #delivery .card_settingOrder {
    padding-left: 10px;
    padding-right: 10px;
  }
  #delivery .card_order .card_addProduct {
    display: block;
    /* align-items: center; */
  }
  #delivery .card_order .card_addProduct button{
    width: 100%;
  }
}
